{% extends 'base.html' %}
{% block content %}

<div class ="row">
    <h3>Popular Movies</h3>
    
        {% for movie in popular %}
        
            <div class='wrapper'>
                <img src="/static/img/fandor_artwork1.jpg" class="img-responsive " alt="Cinque Terre" width="300" style="display:inline-block;">
    <!-- description div -->
    <div class='description'>
        <!-- description content -->
        <p class='description_content'>

     {{movie[0].title}}<br>
         {{movie[0].description}}<br>
         {{movie[0].year}}<br>
    
         <button class="rate" data-direction="up" data-movie-id="{{movie[0].movie_id}}"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:black;"></span></button>

        <button class="rate" data-direction="down" data-movie-id="{{movie[0].movie_id}}"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color:black;"></span></button>

        <span class="{{movie[0].movie_id}}"> {{movie[0].rating_count()}}%</span>


        </p>
        <!-- end description content -->
    </div>
    <!-- end description div -->
</div>

 
        {% endfor %}
    
</div>

<div class="row">
    <h3>New Releases</h3>
        {% for movie in new_releases %}
         
            <div class='wrapper'>
                <img src="/static/img/fandor_artwork1.jpg" class="img-responsive" alt="Cinque Terre" width="300" style="display:inline-block;">
    <!-- description div -->
    <div class='description'>
        <!-- description content -->
        <p class='description_content'>

     {{movie.title}}<br>
         {{movie.description}}<br>
         {{movie.year}}<br>
    
         <button class="rate" data-direction="up" data-movie-id="{{movie.movie_id}}"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:black;"></span></button>

        <button class="rate" data-direction="down" data-movie-id="{{movie.movie_id}}"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color:black;"></span></button>

        <span class="{{movie.movie_id}}"> {{movie.rating_count()}}%</span>


        </p>
        <!-- end description content -->
    </div>
    <!-- end description div -->
</div>
       
        {% endfor %}
     
</div>

<div class="row">

    <h3>Old School</h3>
        {% for movie in old_school %}
         
            <div class='wrapper'>
                <img src="/static/img/fandor_artwork1.jpg" class="img-responsive" alt="Cinque Terre" width="300" style="display:inline-block;">
    <!-- description div -->
    <div class='description'>
        <!-- description content -->
        <p class='description_content'>

     {{movie.title}}<br>
         {{movie.description}}<br>
         {{movie.year}}<br>
    
         <button class="rate" data-direction="up" data-movie-id="{{movie.movie_id}}"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"style="color:black;"></span></button>

        <button class="rate" data-direction="down" data-movie-id="{{movie.movie_id}}"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"style="color:black;"></span></button>

        <span class="{{movie.movie_id}}"> {{movie.rating_count()}}%</span>


        </p>
        <!-- end description content -->
    </div>
    <!-- end description div -->
</div>
       
        {% endfor %}
</div>


<div class="row">

    <h3>All Movies</h3>
     {% for movie in movies %}
         <div>
            <div class='wrapper'>
                <img src="/static/img/fandor_artwork1.jpg" class="img-responsive profile-pic" alt="Cinque Terre" width="300" style="display:inline-block;">
    <!-- description div -->
    <div class='description'>
        <!-- description content -->
        <p class='description_content'>

     {{movie.title}}<br>
         {{movie.description}}<br>
         {{movie.year}}<br>
    
         <button class="rate" data-direction="up" data-movie-id="{{movie.movie_id}}"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"style="color:black;"></span></button>

        <button class="rate" data-direction="down" data-movie-id="{{movie.movie_id}}"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"style="color:black;"></span></button>

        <span class="{{movie.movie_id}}"> {{movie.rating_count()}}%</span>


        </p>
        <!-- end description content -->
    </div>
    <!-- end description div -->
</div>
    

     {% endfor %}
</div>


<script>
 
function updateVote(results) {
  var updated_vote = results["vote"];
  $("."+results['movie_id']).text(updated_vote).append("%");
  console.log("Vote added")
}
function submitVote(evt) {
  var voted_item = {
    "voted_item": $(this).data("direction"),
    "movie_id": $(this).data("movie-id")
  }
  console.log(voted_item)
  $.post("/add-vote.json", voted_item, updateVote);
    console.log("going to post request")
}
$(".rate").click(submitVote);
</script>


{% endblock %}






