{% extends 'base.html' %}
{% block content %}

<!-- <div class = "row" id = "search-box"> -->
<!-- 			<div class="col-md-6 col-md-offset-2">
<h3>Fandor Search</h3>
 <input type = "text" name ="search" id="search" class="form-control" placeholder="Titles, peoples, genres">
 <button class = "search-movies" type="button">Search</button>
</div> -->
<!-- </div> -->

<div class="row">
<div class="col-md-6 col-md-offset-2">
<h3>Fandor Search</h3>
<div class="input-group">
  <span class="input-group-addon glyphicon glyphicon-search search-movies"  id="basic-addon1"></span>

  <input type="text" id="search" class="form-control" placeholder="Titles, peoples, genres" aria-describedby="basic-addon1">
</div>
</div>
</div>

<ul id="list">

</ul>


 <script>
  var pages = '<div style="text-align: center; margin-top: 30px;"><div class=controls></div><input id=current_page type=hidden><input id=show_per_page type=hidden></div>'
    $('body').append(pages);
function showResults(results){
	 
	var returnedMovies = results;
	
	for (var key in returnedMovies){
		
		$("#list").append("<li>" + "<div class='wrapper'>" + "<img src='/static/img/fandor_artwork1.jpg' class='img-responsive' alt='Cinque Terre' width='300' style='display:inline-block;'>" + "<div class='description'>" + "<p class='description_content'>"+ returnedMovies[key][0] + "<br>" + returnedMovies[key][1] + "<br>" + returnedMovies[key][2] + "<br>" +"</p>" + "</div>" + "</li>") 		
	};

    var show_per_page = 5;
    var number_of_items = $('#list').children('li').size();
    console.log(number_of_items)
    var number_of_pages = Math.ceil(number_of_items / show_per_page);
    $('#current_page').val(0);
    $('#show_per_page').val(show_per_page);

    var navigation_html = '<a class="prev" onclick="previous()">Prev</a>';
    var current_link = 0;
    while (number_of_pages > current_link) {
        navigation_html += '<a class="page" onclick="go_to_page(' + current_link + ')" longdesc="' + current_link + '">' + (current_link + 1) + '</a>';
        current_link++;
    }
    navigation_html += '<a class="next" onclick="next()">Next</a>';

    $('.controls').html(navigation_html);
    $('.controls .page:first').addClass('active');

    $('#list').children().css('display', 'none');
    $('#list').children().slice(0, show_per_page).css('display', 'block');


	$("#search").val("")

	



}
function getMatch() {
	var searchItem = $("#search").val();
	var search = {
		"search_item": searchItem
	};
	console.log(search)
	$.get('/movies_search', search, showResults);
	console.log("found a match");
	$("#list").html("")
}







function go_to_page(page_num) {
    var show_per_page = parseInt($('#show_per_page').val(), 0);

    start_from = page_num * show_per_page;

    end_on = start_from + show_per_page;

    $('#list').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');

    $('.page[longdesc=' + page_num + ']').addClass('active').siblings('.active').removeClass('active');

    $('#current_page').val(page_num);
}



function previous() {

    new_page = parseInt($('#current_page').val(), 0) - 1;
    //if there is an item before the current active link run the function
    if ($('.active').prev('.page').length == true) {
        go_to_page(new_page);
    }

}

function next() {
    new_page = parseInt($('#current_page').val(), 0) + 1;
    //if there is an item after the current active link run the function
    if ($('.active').next('.page').length == true) {
        go_to_page(new_page);
    }

}


$(".search-movies").click(getMatch)


</script>


{% endblock %}